MODE=MODE # development | production

ELYSIA_PORT=ELYSIA_PORT

YT_DLP_BIN_PATH=/usr/bin/yt-dlp

POSTGRES_PORT=POSTGRES_PORT
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSRGRES_DB
POSTGRES_HOST=POSTGRES_HOST

VITE_API_BASE_URL=VITE_API_BASE_URL

TZ=TZ