package info

import "github.com/bauerbrun0/youtube-downloader/internal/ytdlp"

templ PlaylistInfoPage(playlist ytdlp.PlaylistInfo) {
    <div class="w-full animate-fade">
        playlist
    </div>
}